#specials {
  background-color: tan;
  padding: 20px;
  border-radius: 10px;
}

#specials img {
  border-radius: 20px;
}

#sidebar-first {
  background-color: tan;
  padding: 20px;
  border-radius: 10px;
}

#sidebar-second {
  background-color: tan;
  padding: 20px;
  border-radius: 10px;
}

#navigation {
  background-color: tan;
  padding: 20px;
  border-radius: 10px;
}

body {
  background-color: #EAE0D5;
}

#header img {
  height: 50px;
  width: auto;
  float: left;
}
